/* Содержание
  1. Переменные
  2. Типографика
  3. Кнопки
    3.1 Общий класс для стилизации кнопок в верхнем меню
    3.2. Кнопки Закладки, Корзина, Оформить заказ
    3.3. Кнопки авторизации
  4. Контейнеры
  5. Шапка
    5.1 Логотип в шапке
    5.2 Список интерактивных элементов в шапке
  6. Блок с телефоном и авторизацией
  7. Основная навигация
  8. Футер
  9. Главная - Блок: О компании
  10. Главная - Блок: Промо
  11. Главная - Блок: Популярные продукты
  12. Главная - Блок: Популярные производители
  13. Главная - Блок: Сервисы (слайдер: доставка, гарантия, кредит)
  14. Главная - Блок: Компания и Контакты
  15. Каталог - Хлебные крошки
  16. Каталог - Категория товара
  Вспомогательные классы
*/

/* 1. Переменные */
:root {
  --basic-background: #F1F5F7;
  --basic-grey: #293449;
  --basic-grey-dark: #161D29;
  --basic-greylight: #C5C5C5;
  --basic-green: #63A63E;
  --basic-red: #EE3643;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --successful: #5FBB2D;
  --error: #BA2732;
  --white: #FFFFFF;
  --black: #000000;
  --transparent: transparent;
  --basic-transition: all .24s ease;
  --product-card-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* 2. Типографика */
body {
  font-family: 'Cuprum', sans-serif;
}

.heading-1 {
  font-size: 36px;
  line-height: 36px;
}

.heading-secondary {
  font-size: 30px;
  line-height: 30px;
}

.heading-3 {
  font-size: 24px;
  line-height: 30px;
}

.heading-4 {
  font-size: 21px;
  line-height: 30px;
}

.heading-5 {
  font-size: 13px;
  line-height: 18px;
}

.heading-6 {
  font-size: 15px;
  line-height: 19px;
}

.paragraph-1 {
  font-size: 13px;
  line-height: 24px;
}
.paragraph-2 {
  font-size: 18px;
  line-height: 24px;
}
.paragraph-3 {
  font-size: 16px;
  line-height: 18px;
}

.label {
  font-size: 14px;
  line-height: 24px;
}
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-style: bold;
}

/* 3. Кнопки */
/* 3.1 Общий класс для стилизации кнопок в верхнем меню */
.button-top-menu {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--transparent);
  color: var(--white);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 24px;
  padding-right: 20px;
  user-select: none;
  cursor: pointer;
}

/* 3.2 Кнопки Закладки, Корзина, Оформить заказ */
.button-bookmark,
.button-cart {
  padding-left: 40px;
  position: relative;
  background-color: var(--transparent);
  transition: var(--basic-transition);
}
.button-bookmark:hover,
.button-cart:hover {
  background-color: var(--basic-grey-dark);
}

.button-bookmark::before,
.button-cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 24px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translate(-50%, -50%);
  opacity: .3;
  transition: var(--basic-transition);
}

.button-cart::before {
  background-image: url("../img/icon-cart.svg");
}
.button-cart:hover::before,
.button-bookmark:hover::before {
  opacity: 1;
}

.button-order {
  padding-left: 18px;
  padding-right: 18px;
  background-color: var(--basic-green);
  transition: var(--basic-transition);
}
.button-order:hover {
  background-color: var(--successful);
}
.button-order:active {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}

/* 3.3 Кнопки авторизации */
.button-login,
.button-registration {
  position: relative;
  padding: 10px 24px;
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px;
  display: block;
  text-decoration: none;
  color: var(--black);
  transition: var(--basic-transition);
}

.button-login:hover,
.button-registration:hover {
  color: var(--basic-red);
}
.button-login:active,
.button-registration:active {
  color: var(--basic-greylight);
}

.button-login {
  padding-left: 40px;
}

.button-login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translate(-50%, -50%);
}

.button-login:hover::before {
  background-image: url("../img/icon-login-hovered.svg");
}

/* 3.4 Кнопки красные */
.button-red {
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  padding: 10px 40px;
  text-decoration: none;
  color: var(--white);
  text-align: center;
  transition: var(--basic-transition);
}

.button-red:active {
  background-color: var(--error);
}

/* 4. Контейнеры */
.container {
  display: flex;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.container-inner {
  padding-top: 40px;
  padding-bottom: 60px;
}

/* 5. Шапка */
.main-header {
  background-color: var(--basic-background);
}

.top-menu {
  max-height: 42px;
  background-color: var(--basic-grey);
  display: flex;
}
/* 5.1 Логотип в шапке */
.main-logo {
  display: flex;
  width: 220px;
  background-color: var(--basic-red);
  height: 42px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 5px solid rgba(0, 0, 0, 0.24);
  justify-content: center;
}
.main-logo:active {
  background-color: var(--error);
}

.search-input-wrapper {
  display: flex;
  position: relative;
}

.search-input-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translate(-50%, -50%);
  opacity: .3;
  transition: var(--basic-transition);
}
.search-input-wrapper:hover::before {
  opacity: 1;
}

.search-input {
  padding-left: 40px;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--transparent);
  border: none;
}
.search-input::placeholder {
  color: var(--white);
}

.search-input:active {
  background-color: var(--transparent);
  color: rgba(255, 255, 255, 0.3);
}
.search-input:focus {
  outline: none;
  border: none;
  background-color: var(--white);
  color: var(--basic-grey);
}

/* 5.2 Список интерактивных элементов в шапке */
.top-menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.top-menu-list  a {
  display: block;
}

/* 6. Блок с телефоном и авторизацией */
.main-header-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.store-description {
  margin-top: 2px;
  margin-left: 30px;
  font-size: 16px;
  line-height: 24px;
}

.phone-wrapper {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.phone {
  position: relative;
  border: 3px solid var(--white);
  padding: 6px 45px;
}
.phone a {
  text-decoration: none;
  padding-left: 38px;
}

.phone a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 69px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translate(-50%, -50%);
}

.phone-address {
  margin-top: 2px;
  color: var(--basic-grey);
}

.authorization-wrapper {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.authorization-wrapper a:first-child {
  margin-right: 10px;
}

/* 7. Основная навигация */
.main-nav {
  width: 940px;
  max-width: 100%;
  height: 60px;
  max-height: 60px;
  display: flex;
  background-color: #32425c;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
  border-bottom: 5px solid var(--basic-grey);
}

.site-navigation a {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  transition: var(--basic-transition);
}

.site-navigation a:hover {
  background-color: var(--basic-grey);
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/* 8. Футер */
.main-footer {
  background-color: #32425C;
}
.main-footer .main-logo {
  min-height: 62px;
}

.footer-navigation-wrapper {
  padding-bottom: 40px;
}

.footer-contacts-wrapper {
  display: flex;
  background-color: var(--basic-grey);
}

.main-footer .container {
  flex-direction: column;
}

.main-footer .row {
  display: flex;
}

.footer-navigation {
  width: 549px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: auto;
}

.footer-navigation a {
  color: var(--white);
  text-decoration: none;
  transition: var(--basic-transition);
}
.footer-navigation a:hover {
  text-decoration: underline;
}
.footer-navigation a:active {
  opacity: .5;
}

.footer-navigation-secondary {
  margin-left: auto;
  width: 525px;
  align-items: center;
}

.footer-navigation-secondary a {
  color: #FFD180;
}

.footer-address {
  color: var(--white);
  margin-right: 72px;
}

.footer-contacts {
  width: 100%;
  padding: 36px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  color: var(--white);
  padding: 0;
  margin: 0;
}

.footer-socials {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-socials li {
  margin-right: 2px;
}

.footer-socials li:last-child {
  margin-right: 0px;
}

.footer-socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #212A3A;
  color: inherit;
}

.footer-socials a:hover,
.footer-socials a:focus {
  background-color: var(--basic-red);
}

.footer-contacts-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contacts-list li {
  margin-right: 66px;
}

.footer-contacts-list li:last-child {
  margin-right: 0px;
}

.footer-contacts-list span {
  display: block;
  color: var(--white);
}

.footer-contacts-list a {
  color: #FFD180;
  text-decoration: none;
}
.footer-contacts-list a:hover {
  text-decoration: underline;
}
.footer-contacts-list a:active {
  color: var(--basic-red);
}

/* 9. Главная - Блок: О компании */
.about-company-block {
  width: 100%;;
  padding: 24px 0 70px 0;
  display: flex;
  justify-content: space-between;
}

.about-company-info {
  width: 100%;
}

.about-company-info h2,
.about-company-contacts h2 {
  margin: 0;
  margin-bottom: 24px;
}

.about-company-info p:nth-child(2) {
  margin-bottom: 24px;
}

.about-company-info .company-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.company-list li {
  position: relative;
  padding-left: 37px;
  margin-bottom: 12px;
}
.company-list li:last-child {
  margin-bottom: 0px;
}
.company-list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  transform: translate(-50%, -50%);
}

.about-company-contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.about-company-contacts p {
  margin: 0;
  margin-bottom: 34px;
}

.about-company-contacts img {
  margin-bottom: 24px;
}

/* 10. Главная - Блок: Промо */
.promo {
  margin-top: 70px;
  display: grid;
}

.promo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 123px 256px;
  gap: 20px 20px;
  grid-template-areas: "materials tool machine" "slider slider inner-wrapper";
}

.promo-list .materials { 
  grid-area: materials;
  display: flex;
  align-items: center;
 }

.promo-list .tool { 
  grid-area: tool;
 }

.promo-list .machine { 
  grid-area: machine;
 }

.promo-list .slider { 
  grid-area: slider;
  overflow: hidden;
 }

 .promo-list .inner-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "sales sales" "delivery delivery";
  grid-area: inner-wrapper;
}

.inner-wrapper .sales { 
  grid-area: sales;
 }
 .inner-wrapper .delivery { 
  grid-area: delivery;
 }

/* 11. Главная - Блок: Популярные продукты */

.popular-products {
  display: grid;
  margin-top: 70px;
}

.popular-products-header {
  display: grid;
  grid-template-columns: 1fr 220px;
  padding: 30px;
  background-color: #F9F5F0;
  margin-bottom: 20px;
}

.popular-products-header a {
  margin-left: auto;
  padding: 10px 30px;
}

.popular-products-header h2 {
  margin: 0;
}

.popular-products-list {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  grid-gap: 20px;
  text-align: center;
}

.popular-products-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAEAEA;
}

.popular-products-list-item:last-child {
  margin-right: 0px;
}

.popular-products-list-item a {
  position: relative;
  min-height: 318px;
  text-decoration: none;
  color: inherit;
  transition: var(--basic-transition);
  box-shadow: none;
  padding: 32px 32px 20px 32px;
  background-color: var(--white);
  z-index: 1;
  overflow: hidden;
}
.popular-products-list-item a:hover {
  box-shadow: var(--product-card-shadow);
  z-index: 999;
}

.popular-products-list-item img {
  width: auto;
  height: 112px;
}
.popular-products-list-item .badge-wrapper {
  position: absolute;
  right: -70px;
  top: 10px;
}
.popular-products-list-item .badge-new {
  position: relative;
  right: 0px;
  top: 0px;
  width: 200px;
  height: 30px;
  background-color: var(--basic-red);
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-products-list-item h2 {
  margin-top: 38px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 20px;
}

.popular-products-list-item p {
  margin: 0;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #A9A9A9;
}
.popular-products-list-item p:last-child {
  margin-top: 12px;
  padding: 10px 32px;
  color: var(--white);
  text-decoration: none;
  background-color: var(--basic-red);
}

/* 12. Главная - Блок: Популярные производители */
.popular-brands {
  display: grid;
  margin-top: 70px;
}

.popular-brands-header {
  display: grid;
  grid-template-columns: 1fr 220px;
  padding: 30px;
  background-color: #F9F5F0;
  margin-bottom: 20px;
}

.popular-brands-header h2 {
  margin: 0;
}

.popular-brands-header a {
  align-self: center;
}

.popular-brands-list {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  grid-template-rows: repeat(2, 145px);
  grid-gap: 20px;
  text-align: center;
}

.popular-brands-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAEAEA;
}

/* 13. Главная - Блок: Сервисы (слайдер: доставка, гарантия, кредит) */

/* 14. Главная - Блок: Компания и Контакты */

/* 15. Каталог - Хлебные крошки */
.catalog-breadcrumbs {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 20px 0;
  width: 357px;
}

.catalog-breadcrumbs a {
  color: var(--black);
  text-decoration: none;
}

.catalog-breadcrumbs li {
  position: relative;
}

.catalog-breadcrumbs li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -28px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translate(-50%, -50%);
}

.catalog-breadcrumbs li:first-child::before {
  background-image: none;
}

/* 16. Каталог - Категория товара */
.catalog-category {
  display: flex;
  padding: 30px;
  width: 100%;
  background-color: var(--basic-background);
  margin-bottom: 20px;
}
.catalog-category h1 {
  margin: 0;
  color: #32425C;
}

/* Вспомогательные классы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.basic-red {
  color: var(--basic-red);
}